<h1>Editing Question</h1>

<%= render 'form', question: @question %>

<%= link_to 'Show', @question %> |
<%= link_to 'Back', questions_path %>

<% if(current_user && current_user.admin)%>
  <%= link_to 'Return to Admin Home', controller: 'admin', action: 'home' %>
<% end %>
