// Place all the styles related to the uploader controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type="radio"] {
  margin: 0 10px 0 10px;
}
div.uploader-title{
  font-family: "Helvetica";
  text-align: center;
  margin: auto;
}

div.upload-form{
  font-family: "Helvetica";
  text-align: center;
  border: 3px solid rgb(181,0, 67);
  border-radius: 25px;
  width: 400px;
  height: 250px;
  padding: 5px;
  background-color: rgb(214, 214, 214);
  margin: auto;
  box-sizing: border-box;
}

div.upload-section{
  text-align: center;
  height: 50px;
  padding: 5px;
  margin: 20px auto;
  text-align: center;
}

div.upload-section input[type ="submit"]{
  background-color: rgb(181,0, 67);
    border-radius: 10px;
    padding: 5px 30px;
    color: white;
    text-align: center;
    display: inline-block;
}

div.upload-section input[type ="submit"]:hover{
  background-color: #9e7e8a;
  color: black;
  cursor: pointer;
}