<h1>Email Students</h1>
<div>
<%= form_with(url: "/email_students", method: "post") do %>
    <p>Select date and time: </p>
    <%= datetime_local_field(:user, :send_date) %>
    <%= submit_tag("Submit") %>
<% end %>
</div>
