  <h1>Email Students</h1>

<% if(current_user && current_user.admin)%>

  <%= link_to 'Return to Admin Home', controller: 'admin', action: 'home' %>

<% else %>

  <h3> Error, you do not have access to this page (Requires Admin Permissions)</h3>
  <%= link_to 'Return to My sections', root_url %>

<% end %>
