<% if(current_user && current_user.admin)%>
<h1>Admin#questions</h1>
<p>Find me in app/views/admin/questions.html.erb</p>
<% else %>

    <h3>Error: You do not have access to this page.</h3>
    <%= link_to 'Back', root_url %>

<% end %>