<%# A view file that displays after submitting a csv file%>
<% if(current_user && current_user.admin)%>
<div class = uploader-index>
    <h1>Your page has been uploaded.</h1>
    <br>
    <%= link_to "Upload more", "/uploader/new" %> | 
    <%= link_to "See sections", "/sections" %><p></p>
<div>

<% else %>

    <%= render file: 'public/403-1.html' %>

<% end %>
