<%# A view file that displays after submitting a csv file%>
<% if(current_user && current_user.admin)%>
<div class = uploader-index>
    <h1>Your page has been uploaded.</h1>
    <br>
    <%= link_to "Upload More", "/uploader/new" %> | 
    <%= link_to "See Sections", "/sections" %> | 
    <%= link_to 'Go Back Home', controller: 'admin', action: 'home' %><p></p>
<div>

<% else %>

    <%= render file: 'public/403-1.html' %>

<% end %>
