<%# A view file that shows The User to Submit A file%>
<% if(current_user && current_user.admin)%>
<div class= uploader-title>
<h1>Uploader</h1>
<p>This is just to upload files</p>
</div>
<div class= uploader>
<%= form_with(url: '/uploader', method: 'post', multipart: true) do %>
<div class= upload-form>
  <div class = 'upload-section'>
    To submit surveys, these headers are required:<br>
    Class Nbr, Instructor Email, Student ID, Student Email, Subject, Catalog, Title, Tot Enrl.
    <br><br>
    <div class = 'section'>
      <%= file_field_tag 'file', accept: '.csv'  %>
    </div>
     <div class = 'upload-section'>
       <%= submit_tag("Submit") %>
      </div>
    </div>
  </div>
</div>
<% end %>

<% else %>

    <%= render file: 'public/403-1.html' %>

<% end %>
