<h1>Uploader#proUpload</h1>
<%= form_with(url: {action: :upload}, multipart: true) do %>
  <%= file_field_tag 'file', accept: '.csv', :onchange=>"fileisValid(this);"  %>
  <p></p>
  <%= submit_tag("Submit") %>
<% end %>
 
<p>Find me in app/views/uploader/proUpload.html.erb</p>
