<%# url queryKey matches survey object key %>
<% if params[:queryKey] == @survey.key %>
  <h1>Lab Evaluation Survey</h1>

  <%= render 'respond', survey: @survey %>

<% else %>

  <h3>Error! Please make sure you click the link sent to you via email to respond. </h3>

<% end %>



<%#= render 'form', survey: @survey %>

<%#= link_to 'Show', @survey %>
<%#= link_to 'Back', surveys_path %>
