<%# A View file that displays a create survey%>
<% if(current_user && current_user.admin)%>

    <h1>New Survey</h1>

    <%= render 'form', survey: @survey %>

    <%= link_to 'Back', surveys_path %>

<% else %>

    <%= render file: 'public/403-1.html' %>

<% end %>