<% if(current_user && current_user.admin)%>
    <h1>New Section</h1>

    <%= render 'form', section: @section %>

    <%= link_to 'Back', sections_path %>

<% else %>

    <%= render file: 'public/403-1.html' %>

<% end %>